.button{
    background-color: #E3B748;
    border-radius: 43px;
    height: 43px;
    width: 121px;
    margin-top: 2px;
    border: 0px;
    font-weight: 600;
    /* padding: 0; */
    cursor: pointer;
    font-family: inherit;
}